
<h2>Angular Features</h2>
<ul class="angular">
    <li *ngFor="let angularInformation of angular ">
        <button type="button" (click)="onSelect(angularInformation)">
            <span class="badge">{{angularInformation.id}}. </span>
            <span class="feature">{{angularInformation.feature}}</span>
        </button>
    </li>
</ul>
<div *ngIf="selectedAngularInformation">
    <h2>{{selectedAngularInformation.feature | uppercase}} Details</h2>
    <div>ID: {{selectedAngularInformation.id}}</div>
    <div>
        <label for="angular-feature">Angular Feature: </label>
        <input id="angular-feature" [(ngModel)]="selectedAngularInformation.feature" placeholder="feature">
    </div>
</div>

<!-- [(ngModel)] is two way data binding, here it binds angular.feature property to the HTML text box so data can flow in both directions (angular.feature property to text box and back) -->
<!-- in order for ngModel to work, need to import FormsModule in app.modules.ts and add it to imports under NgModules -->

<!-- *ngFor is the repeater directive - repeats the host element for each element in a list -->

<!-- Event listener for button: (click) tells angular to listen for the click eventand execute the onSelect(angularInformation) -->

<!-- ngIf directive to the div wraps the angular details - tells angular to render the section only when the selectedAngularInformation is defined after being selected -->

<!-- <h1>{{angular.feature | uppercase}}</h1>
<p>ID: {{angular.id}}</p> -->


